*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(12, 12, 124);
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-size: 40px;
    color: rgb(238, 228, 228);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}
.logo{
    color:white;
}
header span{
    color: rgb(19, 17, 17);
    text-shadow: 0 0 2px black;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    padding: 10px;
    font-size: 30px;
}
nav a:hover{
    color: black
}

@media (max-width:970px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
main{
    width: 100%;
    height: 90vh;
    background-image: url(Imagen/hamburguesa1.webp);
    color: white;
    background-size: cover;
    background-position: center;
    
}
.call{
    padding: 0px;
    background-color: rgb(0, 0, 0, 0.7);
    height: 150px;
    width: 70%;
    border-radius: 5px;
    
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 20px;
}
.call p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
}
h2{
    text-align: center;
    background-color:rgb(12, 12, 124);
    color: white;
    padding:50px;
}

.hamburguesas{
    width: 100%;
    min-height: 100px;
    background-color: black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    padding: 15px;
    grid-gap: 10px;
}
.item{
    border: 3px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.item:hover{
    transform: scale(1.09);
    transition: all 0.9s;
}
.item1{
    background-image: url(Imagen/hamburguesa1.webp);
    grid-row: 1/3

}
.item2{
    background-image: url(Imagen/hamburguesa3.avif);
    grid-row: 1/3;
}
.item3{
    background-image: url(Imagen/hamburguesa2.avif) ;
    grid-row: 1/3;
}
@media (max-width:720px) {
    .hamburguesas{
        grid-template-rows: repeat(3,300px);
    }
    .item1{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .item2{
        grid-row: 2/3;
        grid-column: 1/4;
    }
    .item3{
        grid-row: 3/4;
        grid-column: 1/4;
    }
    }
h3{
    text-align: center;
    background-color:rgb(12, 12, 124);
    color: white;
    padding:50px;
}
.mapa{
    padding: 0px;
    background-color: black;
    height: 200px;
    width: 100%;
    border-radius: 5px;
    
}
.mapa p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    color: white;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;

}
footer p{
    margin-bottom: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a{
    color: rgb(12, 12, 124);
    font-size: 50px;
    letter-spacing: 15px;
}
body {
    background-color: rgb(7, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguesas2{
    background-image: url(imagen/hamburguesa2.avif);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 800px;
}
h4{
    color: white;
    text-align: center;
    padding: 100px;
    font-size: 50px;
}
input {
    color: white ;
    background-color: rgb(38, 20, 197);
    padding: 15px;
    width: 50%;
    height: 100%;
    margin-top: 40px;
    text-align: center;
    margin-left: 500px;
    font-size: 30px;
    border-radius: 10px;
}
button {
    padding: 20px;
    background-color: rgb(38, 20, 197);
    color: #fff;
    display: grid;
    margin: 6em auto;
    border-radius: 10px;
}
.pie-pagina{
    background-color: rgb(12, 12, 124);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.redess a{
    color: white;
}